/* * 기본 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* * pretendard 안될 시 : Noto sans KR */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* * point font-family */
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal; 
  font-style: normal;
}

/* * reset */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-size: inherit;
  font-family: inherit;
}

select {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

/* * common */
body {
  font-family: 'Pretendard-Regular', 'Noto Sans KR', sans-serif;
  letter-spacing: -0.5px;
  background-color: #F2F4F6;
  color: #4A4F55;
}
.inner {
  padding: 0 20px;
  box-sizing: border-box;
}

/* * 스크롤바 */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00000033;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-track {
  background-color: #e2e2e2;
}