/**
 * author se0in
 * Create Date 2023.12.12.
 * * scss 변수 선언
 * */
$point-color-green : #27B222;
$point-color-orange : #F59407;
$default-text-color : #4A4F55;
$sub-text-color : #AFB0B1;
$dark-button-color : #404040;
$input-text-color : #F2F4F6;
$btn-svg-color : #A7A7A7;
$hover-btn-svg-color : #A7A7A7;
$box-border : 1px solid #EBEBEB;
$tab-default-color : #D5D5D5;
$tab-active-color : #404346;
$bubble-shadow : 3px 3px 10px rgba(232, 232, 232, 0.5);